body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}

/* HEADER */

header{
    background:#203d4a;
    color:white;
    padding:15px 0;
}

.headerpic{
	float: right;
}

.logo{
    text-align:left;
}

.logo img{
    width:150px;
}

/* NAVIGATION */

nav{
    background:#1b333d;
}

nav ul{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
}

nav ul li{
    position:relative;
}

nav ul li a{
    display:block;
    padding:15px 20px;
    color:white;
    text-decoration:none;
}

nav ul li:hover{
    background:#2c4c5b;
}

/* DROPDOWN */

nav ul li ul{
    display:none;
    position:absolute;
    background:#1b333d;
    flex-direction:column;
    width:200px;
}

nav ul li:hover ul{
    display:block;
}

nav ul li ul li{
    width:100%;
}

/* HERO */

body {
  background-image: url("images/southside.jpeg"); /* Replace with your image file path */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* Keeps the image static as content scrolls */
  background-position: center; /* Centers the image */
}

.hero{
    background:url("images/hero.jpg") center/cover no-repeat;
    color:none;
    text-align:center;
    padding:120px 20px;
}

.hero h1{
    font-size:40px;
	color: white;
}

.hero p{
	color: white;
}

.hero button{
    padding:12px 25px;
    border:none;
    background:white;
    color:black;
    font-size:16px;
    cursor:pointer;
}

/* CONTENT */

.section{
    padding:60px 20px;
    text-align:center;
	color: white;
}

.dark{
    background:#203d4a;
    color:white;
}

/* CONTACT */

form{
    max-width:500px;
    margin:auto;
}

input, textarea{
    width:100%;
    padding:10px;
    margin:10px 0;
}

button{
    padding:10px 20px;
}

/* FOOTER */

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
}